{# pesquisa #}
<main class="main">
    <!-- internas top header init -->
    <section class="internas-top-header">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        {% trans %}
                            <h1 class="title-page">pesquisa</h1>
                        {% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- internas top header end -->
    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- contato main content init -->
                    <div class="col-xs-12 coordenador-perfil-main-content">
                        <div class="row">
                            {{  drupal_field('field_page_descricao','node', 37) }}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>