<main class="main">
    <!-- internas top header init -->
    <!-- internas container init -->
    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row quem-somos-content">
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        <!-- quem somos menu init -->
                        <!-- inserir  class="active" na <li> deixa ela marcada de azul. -->
                        <!-- inserir  class="drop-down" na <li> deixa o texto com a seta para baixo. -->
                        <!-- inserir  class="drop-down active" na <li> deixa o drop down aberto -->
                        <!-- inserir  class="active" na <li> da ul drop-down deixa ela marcada de preto. -->
                        <div class="quem-somos-menu">
                            <ul>
                                <li class="active"><a href="#"><span>Quem somos</span></a></li>
                                <li><a href="#"><span>Conselho Diretor</span></a></li>
                                <li><a href="#"><span>Comissão coordenadora do INCT</span></a></li>
                                <li><a href="#"><span>Objetivos</span></a></li>
                                <li><a href="#"><span>Histórico</span></a></li>
                                <li class="drop-down"><a href="#"><span>Nossa Equipe</span></a>
                                    <ul>
                                        <li class="active"><a href="#"><span>Coordenadores de Projetos</span></a></li>
                                        <li><a href="#"><span>Pesquisadores Visitantes</span></a></li>
                                        <li><a href="#"><span>Pesquisadores com Bolsa de Pós-Doutorado</span></a></li>
                                        <li><a href="#"><span>Pesquisadores Juniores</span></a></li>
                                        <li><a href="#"><span>Pesquisadores</span></a></li>
                                        <li><a href="#"><span>Comitê Assessor Internacional de Pesquisa</span></a></li>
                                        <li><a href="#"><span>Equipe de Transferência</span></a></li>
                                        <li><a href="#"><span>Equipe Difusão</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><span>Pesquisadores Associados</span></a></li>
                                <li><a href="#"><span>Links Úteis</span></a></li>
                            </ul>
                        </div>
                        <!-- quem somos menu end -->
                    </div>
                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        <div class="quem-somos-conteudo">
                            {{  drupal_field('field_page_descricao','node') }}
                        </div>
                    </div>

                    <!-- quem somos main content end -->



                </div>
            </div>
        </div>
    </section>

</main>