    <main class="main">
        <!-- internas top header init -->
        <section class="internas-top-header">
            <div class="inner wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumb">
                                <a href="#">home</a>
                                <a href="#">notícias em destaque</a>
                                <a href="#">{{ label }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- internas top header end -->
		      <!-- internas container init -->
        <section class="internas-container">
            <div class="inner wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <!-- noticia listagem coluna left init -->
                        <div class="col-md-9 col-xs-12">
                            <!-- noticia header init -->
                            <div class="noticia-header">
                                <div class="data">
                                    <span>26/02/2018</span>
                                </div>
                                <div class="infos">
                                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
                                </div>
                                <div class="social">
                                    <a href="#" class="facebook"><span>Facebook</span></a>
                                    <a href="#" class="twitter"><span>Twitter</span></a>
                                    <a href="#" class="linkedin"><span>linkedin</span></a>
                                </div>
                                <div class="title">
                                    <h1>
                                        {{ label }}
                                    </h1>
                                    <div class="sub-title">
                                        <p>Atualização da base de logradouros da região metropolitana de São Paulo.</p>
                                    </div>
                                </div>
                                <div class="autor">
                                    Por José Marcos Pinto da Cunha, São Paulo.
                                </div>
                            </div>
                            <!-- noticia header end -->
                            <!-- noticia conteudo init -->
							<div class="noticia-conteudo">
								{{ drupal_field('body','node') }}
							</div>
						<!-- noticia listagem coluna left end -->
					    <!-- noticia listagem coluna right init -->
							<div class="col-md-3 col-xs-12">
								<div class="side-bar-box agenda">
									<div class="home-agenda-header">
										{% trans %}
										  <h2>eventos/agenda</h2>
										{% endtrans %}
									</div>
									<div class="box">
									  <!-- home agenda item init -->
									  {{ drupal_view('evento','bloco_evento_home',language) }}
									  <!-- home agenda item end -->
										{% trans %}
										  <a href="#" class="link-more">agenda completa</a>
										{% endtrans %}
									</div>
							  </div>
								<!-- side bar agenda end -->

								<!-- side bar  noticias recentes init -->
								<div class="side-bar-box recente">
									<div class="header">Notícias Recentes</div>
									<div class="box">
						
									</div>
								</div>
								<!-- side bar  noticias recentes end -->

							</div>
						</div>
					</div>
				</div>
        </section>
	</main>
